<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div  class="col-md-6">
                        <h2>Material Classification  <i class="material-icons md-18">list_alt</i></h2>
                       
                    </div>
                    
                    <div class="col-md-6">
                        <button  (click)="openModal(null,false)"class="btn btn-success" data-toggle="modal" data-target="#addClassificationModal"><i class="material-icons">&#xE147;</i> <span>Add Classification</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Description</th>
                        <th>Color</th>
                        <th>Imperial Unit</th>
                        <th>Metric Unit</th>
                        <th>Unit Description</th>
                        <th>Default unit type</th>
                        <th>Division</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let clasification of clasificationList">
                        <td>{{clasification.classIdentifier}}</td>
                        <td>{{clasification.description}}</td>
                        <td><i class="material-icons" [ngStyle]="{'color': clasification.color}">stop_circle</i></td>
                        <td>{{clasification.imperialUnit}}</td>
                        <td>{{clasification.piecesUnit}}</td>
                        <td>{{clasification.unitDescription}}</td>
                        <td>{{clasification.defaultUnitType}}</td>
                        <td>{{getDivisionDescription(clasification.idDivision)}}</td>
                        <td>
                            <button  class="edit" (click)="openModal(clasification.idClassification,true)"  data-toggle="modal" data-target="#addClassificationModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></button>
                            <button  class="delete" (click)="setProjectToDelete(clasification.idClassification)" data-toggle="modal" data-target="#deleteClassModal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button>
                        </td>
                    </tr>		
                </tbody>
            </table>
        </div>
    </div>        
</div>

	<!-- Add Modal HTML -->
    <div id="addClassificationModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="classForm">
                    <div class="modal-header">						
                        <h4 class="modal-title">{{modalLabel}}</h4>
                        <button type="button" [ngStyle]="{'color':'white'}"class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Classification</label>
                            <div class="col-lg-9">
                                <input name="classification" class="form-control"  formControlName="classification" class="form-control" type="text" >
                                <div *ngIf="classForm.controls.classification.invalid && (classForm.controls.classification.dirty || classForm.controls.classification.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.classification.errors.required">
                                        Classification is required.
                                    </div>
                                    <div class="smallText" *ngIf="classForm.controls.classification.errors.maxlength">
                                        Classification can be max 3 characters long.
                                    </div>
                                </div>
                                <div *ngIf="addError" class="alert alert-danger">	
                                    <div class="smallText" >
                                        That classification ID is taken. Try another.                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Color</label>
                            <div class="col-lg-2">
                                <i class="material-icons md-19 borderIcon" [ngStyle]="{'color':selectedColor}">stop_circle</i>                              
                                <img  [cpOutputFormat]="'hex'" [cpOKButton]="true"  [cpOKButtonClass]= "'btn btn-success btn-xs'" [cpCancelButton]="true" (colorPickerChange)="onChangeColor($event)" [cpCancelButtonClass]= "'btn btn-default btn-xs'" [(colorPicker)]="selectedColor"  src="assets/img/colorpicker.png">
                             </div>     
                             <div class="col-lg-2">
                                <input  #checkbox class="form-check-input " (change)="onCheckboxChange($event)" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label"  for="defaultCheck1">Transparent</label>
                             </div>                    
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Description</label>
                            <div class="col-lg-9">
                                <input class="form-control"  name="description"  formControlName="description"  class="form-control" type="text" >
                                <div *ngIf="classForm.controls.description.invalid && (classForm.controls.description.dirty || classForm.controls.description.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.description.errors.required">
                                        Description is required.
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Measuring Unit</label>
                            <div class="col-lg-9">
                                <select name="imperialUnit"  formControlName="imperialUnit" class="selectpicker form-control">
                                    <option value="LINEAR_FT">Linear ft/Linear Meter</option>
                                    <option value="CUBIC_FT">Cubic ft/Cubic Meter</option>
                                    <option value="SQUARE_FT">Square ft/Square Meter</option>
                                    <option value="EACH">Each</option>
                                </select>
                                <div *ngIf="classForm.controls.imperialUnit.invalid && (classForm.controls.imperialUnit.dirty || classForm.controls.imperialUnit.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.imperialUnit.errors.required">
                                        Measuring Unit is required.
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Pieces</label>
                            <div class="col-lg-9">
                                <select name="pieces"  formControlName="pieces" class="selectpicker form-control">
                                    <option value="PIECE">Piece</option>
                                    <option value="BAG">Bag</option>
                                    <option value="BOX">Box</option>
                                </select>
                                <div *ngIf="classForm.controls.pieces.invalid && (classForm.controls.pieces.dirty || classForm.controls.pieces.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.pieces.errors.required">
                                        Pieces is required.
                                      </div>
                                </div>    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Unit Description</label>
                            <div class="col-lg-9">
                                <input name="unitDescription"  formControlName="unitDescription"  class="form-control" type="text">
                                <div *ngIf="classForm.controls.unitDescription.invalid && (classForm.controls.unitDescription.dirty || classForm.controls.unitDescription.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.unitDescription.errors.required">
                                        Unit Description is required.
                                      </div>
                                </div>  
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Default Unit Type</label>
                            <div class="col-lg-9">
                                <select name="defaultUnitType"  formControlName="defaultUnitType" class="selectpicker form-control">
                                    <option value="IMPERIAL">Imperial Unit</option>
                                    <option value="PIECE">Pieces</option>
                                  </select>
                                  <div *ngIf="classForm.controls.defaultUnitType.invalid && (classForm.controls.defaultUnitType.dirty || classForm.controls.defaultUnitType.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.defaultUnitType.errors.required">
                                        Default Unit Type is required.
                                      </div>
                                </div>  
                            </div> 
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Division</label>
                            <div class="col-lg-9">
                                <select name="division"  formControlName="division" class="selectpicker form-control">
                                    <option  *ngFor="let div of divisionsList" value="{{div.idDivision}}">{{div.description}}</option>
                                  </select>
                                  <div *ngIf="classForm.controls.division.invalid && (classForm.controls.division.dirty || classForm.controls.division.touched)"class="alert alert-danger">	
                                    <div class="smallText" *ngIf="classForm.controls.division.errors.required">
                                        Division is required.
                                      </div>
                                </div>  
                            </div> 
                        </div>
                                 
                    </div>
                    <div class="modal-footer">
                        <mat-spinner *ngIf="waiting"  tyle="margin:0 auto;" diameter="30"></mat-spinner> 
                        <input  #closeAddModal  type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="button" (click)="addClassification()" class="btn btn-success" value="{{buttonLabel}}" >
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
<div id="deleteClassModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Delete Material Classification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting"  tyle="margin:0 auto;" diameter="30"></mat-spinner> 
                    <input #closeDeleteModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="deleteClassification()"  class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>