<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Materials <i class="material-icons md-18">receipt_long</i></h2>

                    </div>

                    <div class="col-md-6">
                        <button (click)="openModal(null,false)" class="btn btn-success" data-toggle="modal" data-target="#addMaterialnModal"><i class="material-icons">&#xE147;</i> <span>Add Material</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Material ID</th>
                        <th>Classification</th>
                        <th>Description</th>
                        <th>Color</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Length</th>
                        <th>Measuring Unit</th>
                        <th>Price</th>
                        <th>Waste</th>
                        <th>Production Rate X Men</th>
                        <th>Price X Unit</th>
                        <th>TaxRate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of materialList">
                        <td>{{material.classCode}}</td>
                        <td>{{material.classificationMasterDTO.classIdentifier}}</td>
                        <td>{{material.description}}</td>
                        <td><i class="material-icons" [ngStyle]="{'color': material.color}">stop_circle</i></td>
                        <td>{{material.width}}</td>
                        <td>{{material.height}}</td>
                        <td>{{material.length}}</td>
                        <td>{{material.measuringUnit}}</td>
                        <td>{{material.price | currency:'USD':'symbol'}}</td>
                        <td>{{material.waste}} %</td>
                        <td>{{material.productionRatePerMan}}</td>
                        <td>{{material.pricePerUnit | currency:'USD':'symbol'}}</td>
                        <td>{{material.taxRate}} %</td>
                        <td>
                            <button class="edit" (click)="openModal(material.idMaterialMaster,true)" data-toggle="modal" data-target="#addMaterialnModal"><i class="material-icons" data-toggle="tooltip"
                                    title="Edit">&#xE254;</i></button>
                            <button class="delete" (click)="setProjectToDelete(material.idMaterialMaster)" data-toggle="modal" data-target="#deleteMaterialModal"><i class="material-icons" data-toggle="tooltip"
                                    title="Delete">&#xE872;</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Modal HTML -->
<div id="addMaterialnModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="materialForm">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalLabel}}</h4>
                    <button type="button" [ngStyle]="{'color':'white'}" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Classification</label>
                        <div class="col-lg-3">
                            <select name="code" (change)="onClassChange($event.target.value)" formControlName="code" class="selectpicker form-control">
                               <option  *ngFor="let class of clasificationList" value="{{class.idClassificationMaster}}">{{class.classIdentifier}}</option>
                            </select>
                            <div *ngIf="materialForm.controls.code.invalid && (materialForm.controls.code.dirty || materialForm.controls.code.touched)" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="materialForm.controls.code.errors.required">
                                    Classification is required.
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-3 col-form-label form-control-label">Material ID</label>
                        <div class="col-lg-3">
                            <input name="materialID" class="form-control" formControlName="materialID" class="form-control" type="text">
                            <div *ngIf="materialForm.controls.materialID.invalid && (materialForm.controls.materialID.dirty || materialForm.controls.materialID.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.materialID.errors.required">
                                    Material ID is required.
                                </div>
                                <div class="smallText" *ngIf="materialForm.controls.materialID.errors.maxlength">
                                    Too long.
                                </div>
                            </div>
                            <div *ngIf="addError" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="materialForm.controls.classification.errors.maxlength">
                                    That Material ID is taken. Try another. </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Color</label>
                        <div class="col-lg-2">
                            <i class="material-icons md-19 borderIcon" [ngStyle]="{'color':selectedColor}">stop_circle</i>
                            <img [cpOutputFormat]="'hex'" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-success btn-xs'" [cpCancelButton]="true" (colorPickerChange)="onChangeColor($event)" [cpCancelButtonClass]="'btn btn-default btn-xs'" [(colorPicker)]="selectedColor" src="assets/img/colorpicker.png">
                        </div>
                        <div class="col-lg-2">
                            <input #checkbox class="form-check-input " (change)="onCheckboxChange($event)" type="checkbox" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">Transparent</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Description</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="description" formControlName="description" class="form-control" type="text">
                            <div *ngIf="materialForm.controls.description.invalid && (materialForm.controls.description.dirty || materialForm.controls.description.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.description.errors.required">
                                    Description is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Width</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input (change)="getUnitFactor()" class="form-control" name="width" formControlName="width" class="form-control" type="number" step="0.01">
                                <span id="headerfoofoo" class="input-group-addon "> {{meassuringLabel}} </span>
                            </div>
                            <div *ngIf="materialForm.controls.width.invalid && (materialForm.controls.width.dirty || materialForm.controls.width.touched)" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="materialForm.controls.width.errors.required">
                                    Width is required.
                                </div>
                            </div>
                        </div>


                        <label class="col-lg-3 col-form-label form-control-label">Height</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input (change)="getUnitFactor()" class="form-control" name="height" formControlName="height" class="form-control" type="number" step="0.01">
                                <span id="headerfoofoo" class="input-group-addon "> {{meassuringLabel}} </span>
                            </div>
                            <div *ngIf="materialForm.controls.height.invalid && (materialForm.controls.height.dirty || materialForm.controls.height.touched)" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="materialForm.controls.height.errors.required">
                                    Height is required.
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Length</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input (change)="getUnitFactor()" class="form-control" name="length" formControlName="length" class="form-control" type="number" step="0.01">
                                <span id="headerfoofoo" class="input-group-addon "> {{meassuringLabel}} </span>
                            </div>
                            <div *ngIf="materialForm.controls.length.invalid && (materialForm.controls.length.dirty || materialForm.controls.length.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.length.errors.required">
                                    Length is required.
                                </div>
                            </div>
                        </div>

                        <label class="col-lg-3 col-form-label form-control-label">Measuring Unit</label>
                        <div class="col-lg-3">
                            <select name="code" formControlName="measuringUnit" class="selectpicker form-control">
                             <option  value="IMPERIAL">IMPERIAL</option>
                             <option  value="METRIC">METRIC</option>

                            </select>
                            <div *ngIf="materialForm.controls.measuringUnit.invalid && (materialForm.controls.measuringUnit.dirty || materialForm.controls.measuringUnit.touched)" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="materialForm.controls.measuringUnit.errors.required">
                                    Measuring Unit is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Unit Factor</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <input class="form-control" name="unitFactor" formControlName="unitFactor" class="form-control" type="number" step="0.01">
                                <span id="headerfoofoo" class="input-group-addon "> {{unitFactorLabel}} </span>
                            </div>
                            <div *ngIf="materialForm.controls.unitFactor.invalid && (materialForm.controls.unitFactor.dirty || materialForm.controls.unitFactor.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.unitFactor.errors.required">
                                    UnitFactor is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" name="unitFactorb" formControlName="unitFactorb" class="form-control" type="number" step="0.01">
                                <span id="headerfoofoo" class="input-group-addon "> {{unitFactorLabelb}} </span>
                            </div>
                            <div *ngIf="materialForm.controls.unitFactorb.invalid && (materialForm.controls.unitFactorb.dirty || materialForm.controls.unitFactorb.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.unitFactorb.errors.required">
                                    UnitFactor is required.
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Price</label>
                        <div class="col-lg-3">
                            <input (change)="getUnitPrice()" class="form-control" name="price" formControlName="price" class="form-control" type="number" step="0.01">
                            <div *ngIf="materialForm.controls.price.invalid && (materialForm.controls.price.dirty || materialForm.controls.price.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.price.errors.required">
                                    Price is required.
                                </div>
                            </div>
                        </div>

                        <label class="col-lg-3 col-form-label form-control-label">Waste</label>
                        <div class="col-lg-3">
                            <input class="form-control" name="waste" formControlName="waste" class="form-control" type="number" step="0.01">
                            <span id="headerfoofoo" class="input-group-addon "> % </span>
                            <div *ngIf="materialForm.controls.waste.invalid && (materialForm.controls.waste.dirty || materialForm.controls.waste.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.waste.errors.required">
                                    Waste is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Price Unit</label>
                        <div class="col-lg-4">
                            <input id="price" class="form-control" name="pricePerUnit" formControlName="pricePerUnit" class="form-control" type="number" step="0.01">
                            <div *ngIf="materialForm.controls.pricePerUnit.invalid && (materialForm.controls.pricePerUnit.dirty || materialForm.controls.pricePerUnit.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.pricePerUnit.errors.required">
                                    Price Unit is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <input #checkbox (change)="setOverWrite($event)" class="form-check-input " type="checkbox" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">Overwrite</label>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Production Rate Per Man</label>
                        <div class="col-lg-3">
                            <input class="form-control" name="productionRatePerMan" formControlName="productionRatePerMan" class="form-control" type="number" step="0.01">
                            <div *ngIf="materialForm.controls.productionRatePerMan.invalid && (materialForm.controls.productionRatePerMan.dirty || materialForm.controls.productionRatePerMan.touched)" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="materialForm.controls.productionRatePerMan.errors.required">
                                    Production Rate is required.
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-3 col-form-label form-control-label">Tax Rate</label>
                        <div class="col-lg-3">
                            <input class="form-control" name="taxRate" formControlName="taxRate" class="form-control" type="number" step="0.01">
                            <span id="headerfoofoo" class="input-group-addon "> % </span>
                            <div *ngIf="materialForm.controls.taxRate.invalid && (materialForm.controls.taxRate.dirty || materialForm.controls.taxRate.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="materialForm.controls.taxRate.errors.required">
                                    Tax Rate is required.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                    <input #closeAddModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="button" (click)="addMaterial()" class="btn btn-success" value="{{buttonLabel}}">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteMaterialModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Material</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                    <input #closeDeleteModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="deleteClassification()" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>