<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Projects<i class="material-icons md-18">business</i></h2>
                    </div>
                    <div class="col-md-6">
                        <button (click)="openModal(null,false)" class="btn btn-success" data-toggle="modal" data-target="#addProjectModal"><i class="material-icons">&#xE147;</i> <span>Add Project</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Created by</th>
                        <th>Division</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects">
                        <td class="cursor-pointer" (click)="setProject(project.idProject,project.idDivision,project.name)">{{project.name}}</td>
                        <td class="cursor-pointer" (click)="setProject(project.idProject,project.idDivision,project.name)">{{project.creationDate | date:'longDate'}}</td>
                        <td class="cursor-pointer" (click)="setProject(project.idProject,project.idDivision,project.name)">{{project.status}}</td>
                        <td class="cursor-pointer" (click)="setProject(project.idProject,project.idDivision,project.name)">{{project.owner}}</td>
                        <td class="cursor-pointer" (click)="setProject(project.idProject,project.idDivision,project.name)">{{getDivisionDescription(project.idDivision)}}</td>
                        <td>
                            <button class="edit" (click)="openModal(project.idProject,true)" data-toggle="modal" data-target="#addProjectModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></button>
                            <button class="delete" (click)="setProjectToDelete(project.idProject)" data-toggle="modal" data-target="#deleteProjectModal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">{{moddalTittle}}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Project Name</label>
                        <div class="col-lg-3">
                            <input type="text" name="projectName" class="form-control" [formControl]="projectName" autofocus>
                            <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)" class="alert alert-danger">
                                <div class="xsmallText" *ngIf="projectName.errors.required">
                                    Project Name is required.
                                </div>
                            </div>
                            <div *ngIf="addError" class="alert alert-danger">
                                <div class="xsmallText">
                                    That project name is taken. Try another.
                                </div>
                            </div>
                        </div>

                        <label class="col-lg-3 col-form-label form-control-label">Division</label>
                        <div class="col-lg-3">
                            <select class="form-control" [formControl]="division">
                                    <option  *ngFor="let div of divisionsList" value="{{div.idDivision}}">{{div.description}}</option>
                                  </select>
                            <div *ngIf="division.invalid && (division.dirty || division.touched)" class="alert alert-danger">
                                <div class="smallText" *ngIf="division.errors.required">
                                    Division is required.
                                </div>
                            </div>
                        </div>

                    </div>

                    <form [formGroup]="addressForm">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Customer Name</label>
                            <div class="col-lg-3">
                                <input name="customerName" class="form-control" formControlName="customerName" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.customerName.invalid && (addressForm.controls.customerName.dirty || addressForm.controls.customerName.touched)" class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="addressForm.controls.customerName.errors.required">
                                        Customer Name is required.
                                    </div>

                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Company</label>
                            <div class="col-lg-3">
                                <input name="company" class="form-control" formControlName="company" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.company.invalid && (addressForm.controls.company.dirty || addressForm.controls.company.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.company.errors.required">
                                        Company is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Bid Date</label>
                            <div class="col-lg-3">
                                <input name="bidDate" style="font-size: .8rem" class="form-control" formControlName="bidDate" class="form-control" type="date">
                                <div *ngIf="addressForm.controls.bidDate.invalid && (addressForm.controls.bidDate.dirty || addressForm.controls.bidDate.touched)" class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="addressForm.controls.bidDate.errors.required">
                                        Bid Date is required.
                                    </div>

                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Start Date</label>
                            <div class="col-lg-3">
                                <input name="startDate" style="font-size: .8rem" class="form-control" formControlName="startDate" class="form-control" type="date">
                                <div *ngIf="addressForm.controls.startDate.invalid && (addressForm.controls.startDate.dirty || addressForm.controls.startDate.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.startDate.errors.required">
                                        Start Date is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">EST Completed Date</label>
                            <div class="col-lg-3">
                                <input name="estimatedCompletion" style="font-size: .8rem" class="form-control" formControlName="estimatedCompletion" class="form-control" type="date">
                                <div *ngIf="addressForm.controls.estimatedCompletion.invalid && (addressForm.controls.estimatedCompletion.dirty || addressForm.controls.estimatedCompletion.touched)" class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="addressForm.controls.estimatedCompletion.errors.required">
                                        Estimated Completion is required.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <p class="text-light bg-dark divisor">Address</p>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Street 1</label>
                            <div class="col-lg-3">
                                <input name="street1" class="form-control" formControlName="street1" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.street1.invalid && (addressForm.controls.street1.dirty || addressForm.controls.street1.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.street1.errors.required">
                                        Street is required.
                                    </div>

                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Street 2</label>
                            <div class="col-lg-3">
                                <input name="street2" class="form-control" formControlName="street2" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.street2.invalid && (addressForm.controls.street2.dirty || addressForm.controls.street2.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.street2.errors.required">
                                        Street is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">City</label>
                            <div class="col-lg-3">
                                <input name="city" class="form-control" formControlName="city" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.city.invalid && (addressForm.controls.city.dirty || addressForm.controls.city.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.city.errors.required">
                                        City is required.
                                    </div>

                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">State</label>
                            <div class="col-lg-3">
                                <input name="state" class="form-control" formControlName="state" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.state.invalid && (addressForm.controls.state.dirty || addressForm.controls.state.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.state.errors.required">
                                        State is required.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Zip Code</label>
                            <div class="col-lg-3">
                                <input name="zipCode" class="form-control" formControlName="zipCode" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.zipCode.invalid && (addressForm.controls.zipCode.dirty || addressForm.controls.zipCode.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.zipCode.errors.required">
                                        Zip Code is required.
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                            <div class="col-lg-3">
                                <input name="zipCode" class="form-control" formControlName="phoneNumber" class="form-control" type="text">
                                <div *ngIf="addressForm.controls.phoneNumber.invalid && (addressForm.controls.phoneNumber.dirty || addressForm.controls.phoneNumber.touched)" class="alert alert-danger">
                                    <div class="smallText" *ngIf="addressForm.controls.phoneNumber.errors.required">
                                        Phone is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div *ngIf="isEdit" class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Project Status</label>
                        <div class="col-lg-3">
                            <select class="form-control" [formControl]="projectStatus">
                                <option value="OPEN">OPEN</option>
                                <option value="CLOSED">CLOSED</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                    <input #closeAddModal (click)="closeModal()" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="button" (click)="addProject()" class="btn btn-success" value="{{modalButton}}">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                    <input #closeDeleteModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="deleteProject()" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>