<app-header></app-header>
<div class="d-flex" id="wrapper" *ngIf="currentUser">
    <div *ngIf="isAdmin" class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Construct Estimator</div>
        <div class="list-group list-group-flush">

            <a href="materials-classification" class="list-group-item list-group-item-action bg-light meuItem">Classifications<i class="material-icons md-18">list_alt</i></a
      >

        <a href="crew" class="list-group-item list-group-item-action bg-light meuItem">Labor<i class="material-icons md-18">people</i></a>
            <a href="materials" class="list-group-item list-group-item-action bg-light meuItem">Materials<i class="material-icons md-18">receipt_long</i></a
      >


        <a href="mortar" class="list-group-item list-group-item-action bg-light meuItem">Mortar<i class="material-icons md-18">museum</i></a>


        </div>
    </div>
    <div class="bg-light border-right" id="sidebar-wrapper" *ngIf="hasproject || isUser">
        <div class="sidebar-heading">Construct Estimator</div>

        <div *ngIf="hasproject" class="list-group list-group-flush">

            <a href="projectClass" class="list-group-item list-group-item-action bg-light meuItem">Classifications<i class="material-icons md-18">list_alt</i></a
      >

      <a
        href="projectMat"
        class="list-group-item list-group-item-action bg-light meuItem"
        >Materials<i class="material-icons md-18">list_alt</i></a
      >

      <a
        href="projecttMortar"
        class="list-group-item list-group-item-action bg-light meuItem"
        >Mortar<i class="material-icons md-18">list_alt</i></a
      >
        </div>
  </div>
  <router-outlet></router-outlet>
</div>
<div *ngIf="!currentUser">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>