<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Labor <i class="material-icons md-18">people</i></h2>

                    </div>

                    <div class="col-md-6">
                        <button (click)="openModal(null,false)" class="btn btn-success" data-toggle="modal"
                            data-target="#addMaterialnModal"><i class="material-icons">&#xE147;</i> <span>Add
                                Labor</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Labor Class</th>
                        <th>Standar Wage</th>
                        <th>Additiona Fee</th>
                        <th>Fringe Benefits</th>
                        <th>Burden Amounts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let crew of crewList">
                        <td>{{crew.description}}</td>
                        <td>{{crew.laborClass}}</td>
                        <td>{{crew.standardWage}}</td>
                        <td>{{crew.additionalFee}}</td>
                        <td>
                            <button class="fringe" (click)="editBenefits(crew.idWorker, 'fringe')" data-toggle="modal"
                                data-target="#addBenefit"><i class="material-icons" data-toggle="tooltip"
                                    title="Fringe List">addchart</i></button>
                        </td>
                        <td>
                            <button class="burden" (click)="editBenefits(crew.idWorker, 'burden')" data-toggle="modal"
                                data-target="#addBenefit"><i class="material-icons" data-toggle="tooltip"
                                    title="Fringe List">addchart</i></button>
                        </td>
                        <td>
                            <button class="edit" (click)="openModal(crew.idWorker,true)" data-toggle="modal"
                                data-target="#addMaterialnModal"><i class="material-icons" data-toggle="tooltip"
                                    title="Edit">&#xE254;</i></button>
                            <button class="delete" (click)="setCrewToDelete(crew.idWorker)" data-toggle="modal"
                                data-target="#deleteWorkerModal"><i class="material-icons" data-toggle="tooltip"
                                    title="Delete">&#xE872;</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Benefit Modal HTML -->
<div id="addMaterialnModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" #crewLink href="javascript:void(0);"
                            (click)="navigateAddModal('crew')">Labor Data</a>
                    </li>
                    <li class="nav-item" *ngIf="isEditMode==false">
                        <a class="nav-link" #fringeLink href="javascript:void(0);"
                            (click)="navigateAddModal('fringe')">Fringe Benefits</a>
                    </li>
                    <li class="nav-item" *ngIf="isEditMode==false">
                        <a class="nav-link" #burdenLink href="javascript:void(0);"
                            (click)="navigateAddModal('burden')">Burden Amounts</a>
                    </li>
                </ul>
                <button type="button" [ngStyle]="{'color':'white'}" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <div #divCrew>
                    <form [formGroup]="workerForm">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Description</label>
                            <div class="col-lg-3">
                                <input name="description" class="form-control" formControlName="description"
                                    class="form-control" type="text">
                                <div *ngIf="workerForm.controls.description.invalid && (workerForm.controls.description.dirty || workerForm.controls.description.touched)"
                                    class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="workerForm.controls.description.errors.required">
                                        Description is required.
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Labor Class</label>
                            <div class="col-lg-3">
                                <select name="laborClass" formControlName="laborClass"
                                    class="selectpicker form-control">
                                    <option value="LABOR">LABOR</option>
                                    <option value="OPERATOR">OPERATOR</option>
                                    <option value="SUPERVISOR">SUPERVISOR</option>
                                </select>
                                <div *ngIf="workerForm.controls.laborClass.invalid && (workerForm.controls.laborClass.dirty || workerForm.controls.laborClass.touched)"
                                    class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="workerForm.controls.laborClass.errors.required">
                                        Labor Class is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Standar Wage</label>
                            <div class="col-lg-3">
                                <input class="form-control" name="standarWage" formControlName="standarWage"
                                    class="form-control" type="number" step="0.01">
                                <div *ngIf="workerForm.controls.standarWage.invalid && (workerForm.controls.standarWage.dirty || workerForm.controls.standarWage.touched)"
                                    class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="workerForm.controls.standarWage.errors.required">
                                        Standar Wage is required.
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Additional Fee</label>
                            <div class="col-lg-3">
                                <input class="form-control" name="additionalFee" formControlName="additionalFee"
                                    class="form-control" type="number" step="0.01">
                                <div *ngIf="workerForm.controls.additionalFee.invalid && (workerForm.controls.additionalFee.dirty || workerForm.controls.additionalFee.touched)"
                                    class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="workerForm.controls.additionalFee.errors.required">
                                        Additional Fee is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="invisible" #divFringe>
                    <form [formGroup]="benefitForm">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label form-control-label">{{benefitTag}}</label>
                            <div class="col-lg-3">
                                <select name="benefit" formControlName="benefit" class="selectpicker form-control">
                                    <option class="smallText"></option>

                                    <option class="smallText" *ngFor="let benefit of currentBenefitList"
                                        value="{{benefit.idBenefit}}">{{benefit.name}}</option>

                                </select>
                                <div *ngIf="benefitForm.controls.benefit.invalid && (benefitForm.controls.benefit.dirty || benefitForm.controls.benefit.touched)"
                                    class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="benefitForm.controls.benefit.errors.required">
                                        Required.
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-2 col-form-label form-control-label">Percentage</label>
                            <div class="col-lg-2">
                                <input name="percentage" class="form-control" formControlName="percentage"
                                    class="form-control" type="number" step="0.01">
                                <div *ngIf="benefitForm.controls.percentage.invalid && (benefitForm.controls.percentage.dirty || benefitForm.controls.percentage.touched)"
                                    class="alert alert-danger">
                                    <div class="xsmallText" *ngIf="benefitForm.controls.percentage.errors.required">
                                        Percentage is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button type="button" (click)="addBenefit()"
                                    class="btn btn-outline-success">Add</button>

                            </div>
                        </div>
                        <div class="form-group row" >
                            <table class="table table-sm benefit">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{benefitTag}}</th>
                                        <th scope="col">Percentage</th>
                                        <th scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let benefit of currentBenefits; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td scope="row">{{benefit.name}}</td>
                                        <td scope="row">{{benefit.percentage}}</td>
                                        <td scope="row">
                                            <button class="delete" (click)="deleteBenefit(i)" data-toggle="modal"><i
                                                    class="material-icons" data-toggle="tooltip"
                                                    title="Delete">&#xE872;</i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                <input #closeAddModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="button" (click)="addCrew()" class="btn btn-success" value="{{buttonLabel}}">
            </div>
        </div>
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addBenefit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="benefitForm">
                <div class="modal-header">
                    <h4 class="modal-title">{{workerDesc}}</h4>
                    <button type="button" [ngStyle]="{'color':'white'}" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label form-control-label">{{benefitTag}}</label>
                        <div class="col-lg-3">
                            <select name="benefit" formControlName="benefit" class="selectpicker form-control">
                                <option class="smallText"></option>

                                <option class="smallText" *ngFor="let benefit of currentBenefitList"
                                    value="{{benefit.idBenefit}}">{{benefit.name}}</option>

                            </select>
                            <div *ngIf="benefitForm.controls.benefit.invalid && (benefitForm.controls.benefit.dirty || benefitForm.controls.benefit.touched)"
                                class="alert alert-danger">
                                <div class="xsmallText" *ngIf="benefitForm.controls.benefit.errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-2 col-form-label form-control-label">Percentage</label>
                        <div class="col-lg-2">
                            <input name="percentage" class="form-control" formControlName="percentage"
                                class="form-control" type="number" step="0.01">
                            <div *ngIf="benefitForm.controls.percentage.invalid && (benefitForm.controls.percentage.dirty || benefitForm.controls.percentage.touched)"
                                class="alert alert-danger">
                                <div class="xsmallText" *ngIf="benefitForm.controls.percentage.errors.required">
                                    Percentage is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button type="button" (click)="addBenefit()" class="btn btn-outline-success">Add</button>

                        </div>
                    </div>
                    <div class="form-group row" *ngIf="workerToEdit != undefined">
                        <table class="table table-sm benefit">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{benefitTag}}</th>
                                    <th scope="col">Percentage</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let benefit of currentBenefits; let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td scope="row">{{benefit.name}}</td>
                                    <td scope="row">{{benefit.percentage}}</td>
                                    <td scope="row">
                                        <button class="delete" (click)="deleteBenefit(i)" data-toggle="modal"><i
                                                class="material-icons" data-toggle="tooltip"
                                                title="Delete">&#xE872;</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                <input #closeBenefitModal type="button" (click)="cleanBenefitForm()" class="btn btn-default"
                    data-dismiss="modal" value="Cancel">
                <input type="button" (click)="addCrew()" class="btn btn-success" value="OK">
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteWorkerModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Crew</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                    <input #closeDeleteModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="deleteCrew()" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>