
.button {
    width: 1px;
}

.container {
    color: #566787;
    background: #f5f5f5;
    font-size: 13px;   
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;

}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:last-child {
    width: 150px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td button {
    font-weight: bold;
    color: #566787;
    text-decoration: none;
    outline: none !important;
    border-style: none;
    background-color: transparent;
    display: inline-block;
}

table.table td button:hover {
    color: #2196F3;
}
table.table td button.edit {
    color: #FFC107;
}
table.table td button.fringe {
    color: green;
}
table.table td button.burden {
    color: orange;
}

table.table td button.delete {
    color: #F44336;

}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}    

/* Modal styles */
.modal .modal-dialog {
    max-width: 800px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 5px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-body {
    background: #ecf0f1;
}
.modal .modal-header {
    background: #023891;
    color:white;
}

.modal .modal-footer {
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}

div.smallText {
    font-size: 12px;
    height: 12px;
}

div.xsmallText {
    font-size: 12px;
    
}


.material-icons.md-18 { 
    font-size: 28px;
    padding-left: 30px;
    margin: 0;
  }

  .material-icons.md-19 { 
   font-size: 30px;
   border-radius: 5mm;
   border-color: black
   
  }

  img:hover {
      cursor: pointer;
  }
  
  img {
      width: 33px;
      height: 33px;
      margin: 0;
      position: absolute;
      padding-left: 5px;
  }

 div.benefit {
   padding-top: 20px;
   border-top: white;
   border-bottom: none;
   border-left: none;
   border-right: none;
   border-style: solid;
 }

 table.benefit{
     background-color: #827E7D;
 }

 option.smallText{
     font-size: 12px;
 }

 .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
