<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Mortar<i class="material-icons md-18">museum</i></h2>
                    </div>
                    <div class="col-md-6">
                        <button (click)="openModal(null,false)" class="btn btn-success" data-toggle="modal" data-target="#addMortarModal"><i class="material-icons">&#xE147;</i> <span>Add Mortar</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Mortar ID</th>
                        <th>Description</th>
                        <th>Color</th>
                        <th>Measuring Unit</th>
                        <th>Materials</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mortar of mortarList">
                        <td>{{mortar.mortarCode}}</td>
                        <td>{{mortar.description}}</td>
                        <td><i class="material-icons" [ngStyle]="{'color': mortar.color}">stop_circle</i></td>
                        <td>{{mortar.mortarMeasuringUnit}}</td>
                        <td>
                            <button class="fringe"  (click)="openMaterialsModel(mortar.idMortarMaster)" data-toggle="modal"
                            data-target="#materialsModal"><i class="material-icons" data-toggle="tooltip"
                                title="Fringe List">addchart</i></button>
                        </td>
                        <td>
                            <button  class="edit" (click)="openModal(mortar.idMortarMaster,true)"  data-toggle="modal" data-target="#addMortarModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></button>
                            <button  class="delete" (click)="setMortarToDelete(mortar.idMortarMaster)" data-toggle="modal" data-target="#deleteMortarModal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button>
                        </td>
                    </tr>		
                </tbody>
            </table>
        </div>
    </div>        
</div>

<!-- Add  Modal HTML -->
<div id="addMortarModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="mortarForm">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalLabel}}</h4>
                    <button type="button" [ngStyle]="{'color':'white'}" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Mortar ID</label>
                        <div class="col-lg-3">
                            <input name="mortarId" class="form-control" formControlName="mortarId" class="form-control" type="text">
                            <div *ngIf="mortarForm.controls.mortarId.invalid && (mortarForm.controls.mortarId.dirty || mortarForm.controls.mortarId.touched)"
                                class="alert alert-danger">
                                <div class="xsmallText" *ngIf="mortarForm.controls.mortarId.errors.required">
                                    Mortar ID  is required.
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-3 col-form-label form-control-label">Description</label>
                        <div class="col-lg-3">
                            <input name="description" class="form-control" formControlName="description" class="form-control" type="text">
                            <div *ngIf="mortarForm.controls.description.invalid && (mortarForm.controls.description.dirty || mortarForm.controls.description.touched)"
                                class="alert alert-danger">
                                <div class="xsmallText" *ngIf="mortarForm.controls.description.errors.required">
                                    Description is required.
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Color</label>
                            <div class="col-lg-2">
                                <i class="material-icons md-19 borderIcon" [ngStyle]="{'color':selectedColor}">stop_circle</i>                              
                                <img  [cpOutputFormat]="'hex'" [cpOKButton]="true"  [cpOKButtonClass]= "'btn btn-success btn-xs'" [cpCancelButton]="true" (colorPickerChange)="onChangeColor($event)" [cpCancelButtonClass]= "'btn btn-default btn-xs'" [(colorPicker)]="selectedColor"  src="assets/img/colorpicker.png">
                             </div>     
                             <div class="col-lg-3">
                                <input  #checkbox class="form-check-input " (change)="onCheckboxChange($event)" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label"  for="defaultCheck1">Transparent</label>
                             </div>    
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Measuring Unit</label>
                        <div class="col-lg-3">
                            <select name="measuringUnit"  formControlName="measuringUnit" class="selectpicker form-control">
                                <option value="TONNE">TON</option>
                                <option value="CUBIC_FOOT">CUBIC FOOT</option>
                                <option value="CUBIC_YARD">CUBIC YARD</option>
                            </select>
                            <div *ngIf="mortarForm.controls.measuringUnit.invalid && (mortarForm.controls.measuringUnit.dirty || mortarForm.controls.measuringUnit.touched)"class="alert alert-danger">	
                                <div class="smallText" *ngIf="mortarForm.controls.measuringUnit.errors.required">
                                    Measuring Unit is required.
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form [formGroup]="marterialForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Description</label>
                                <div class="col-lg-3">
                                    <input name="description" class="form-control" formControlName="description" class="form-control" type="text">
                                    <div *ngIf="marterialForm.controls.description.invalid && (marterialForm.controls.description.dirty || marterialForm.controls.description.touched)"
                                        class="alert alert-danger">
                                        <div class="xsmallText" *ngIf="marterialForm.controls.description.errors.required">
                                           Description is required.
                                        </div>
                                    </div>
                                </div>
                                <label class="col-lg-3 col-form-label form-control-label">Unit Price</label>
                                <div class="col-lg-3">
                                    <input (change)="calculatePrice()" name="unitPrice" def class="form-control" formControlName="unitPrice" class="form-control" step="0.01" type="number">
                                    <div *ngIf="marterialForm.controls.unitPrice.invalid && (marterialForm.controls.unitPrice.dirty || marterialForm.controls.unitPrice.touched)"
                                        class="alert alert-danger">
                                        <div class="xsmallText" *ngIf="marterialForm.controls.unitPrice.errors.required">
                                            Unit Price is required.
                                        </div>
                                    </div>
                                </div>     
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Qty</label>
                                <div class="col-lg-3">
                                    <input (change)="calculatePrice()" name="mortarId" class="form-control" formControlName="qty" class="form-control" type="number">
                                    <div *ngIf="marterialForm.controls.qty.invalid && (marterialForm.controls.qty.dirty || marterialForm.controls.qty.touched)"
                                        class="alert alert-danger">
                                        <div class="xsmallText" *ngIf="marterialForm.controls.qty.errors.required">
                                            Qty is required.
                                        </div>
                                    </div>
                                </div> 
                                <label class="col-lg-3 col-form-label form-control-label">Price</label>
                                <div class="col-lg-3">
                                    <input name="price" class="form-control" formControlName="price" class="form-control" type="number">
                                </div>    
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <input type="button" (click)="addMaterial()"  class="btn btn-primary" value="Add">
                                </div> 
                            </div>
                            
                             <table class="table table-sm benefit">
                                <thead>
                                  <tr >
                                    <th scope="col">#</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"> </th>
                                  </tr>
                                </thead>
                                <tbody >
                                    <tr  *ngFor="let material of mortarMaterialsList; let i=index" >
                                        <th scope="row">{{i+1}}</th>
                                        <td scope="row">{{material.description}}</td>
                                        <td scope="row">{{material.unitPrice}}</td>
                                        <td scope="row">{{material.qty}}</td>
                                        <td scope="row">{{material.price}}</td>
                                        <td scope="row">
                                            <button class="delete" (click)="deleteMaterial(i)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                                title="Delete">&#xE872;</i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="row">Total Price
                                        </th>
                                        <td scope="row"></td>
                                        <td scope="row"></td>
                                        <td scope="row"></td>
                                        <td scope="row">{{totalMat}}</td>
                                      </tr>
                                </tfoot>
                              </table>
                        </div>
                     
            </form>
            <div class="modal-footer">
                <mat-spinner *ngIf="waiting" tyle="margin:0 auto;" diameter="30"></mat-spinner>
                <input #closeAddModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="button" (click)="addMortar()"  class="btn btn-success" value="{{buttonLabel}}">
            </div>
        </div>
    </div>
</div>
<!-- Add Modal HTML -->

  <!-- Delete Modal HTML -->
  <div id="deleteMortarModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Delete Mortar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <mat-spinner *ngIf="waiting"  tyle="margin:0 auto;" diameter="30"></mat-spinner> 
                    <input #closeDeleteModal type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="deleteMortar()"  class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add  Modal HTML -->
<div id="materialsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mortar Materials</h4>
                <button type="button" [ngStyle]="{'color':'white'}" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
                        <div class="card-body">
                            <table class="table table-sm benefit">
                                <thead>
                                  <tr >
                                    <th scope="col">#</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>

                                  </tr>
                                </thead>
                                <tbody >
                                    <tr  *ngFor="let material of mortarMaterialsList; let i=index" >
                                        <th scope="row">{{i+1}}</th>
                                        <td scope="row">{{material.description}}</td>
                                        <td scope="row">{{material.unitPrice}}</td>
                                        <td scope="row">{{material.qty}}</td>
                                        <td scope="row">{{material.price}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="row">Total Price
                                        </th>
                                        <td scope="row"></td>
                                        <td scope="row"></td>
                                        <td scope="row"></td>
                                        <td scope="row">{{totalMat}}</td>
                                      </tr>
                                </tfoot>
                              </table>
                        </div>   
        </div>
    </div>
</div>
<!-- Add Modal HTML -->